body {
    margin: 60px auto;
    width: 767pxpx;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #c63;
}

img { margin: 5px 20px; border:1px solid #aaa;}

    
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.0em;
    line-height: 1.3em;
    color: #333;
    text-indent:1.5em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.0em;
}

ul.posts li {
    list-style: none;
}

ul {
    padding-bottom: 10px;
}

li {
    line-height: 1.3em;
}


@media(max-width:991px) {
    .client-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table, thead, tbody, th, td, tr { 
	display: block;	
    }
    table { width:100%; }
    
    tr { border: 0px solid #ccc; }
    
    td { 
	/* Behave  like a "row" */
	border: none;
	border-bottom: 0px solid #eee; 
	position: relative;
	padding-left: 50%; 
    }
	
    td:before { 
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 6px;
	left: 6px;
	width: 45%; 
	padding-right: 10px; 
	white-space: nowrap;
    }			     
}


table { 
    width: 760px; 
    border-collapse: collapse; 
}

th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th { 
    padding: 6px; 
    border: 0px solid #ccc; 
    text-align: left;
    vertical-align:top;
}
